.btn {
  @include button-size($btn-height, $btn-padding, $btn-font-size);
  display: inline-block;
  position: relative;
  text-align: center;
  white-space: nowrap;
  background-image: none;
  font-family: $btn-font-family;
  border: $btn-border-width solid transparent;
  border-radius: $btn-border-radius;
  color: $body-color;
  
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &[disabled] {
    cursor: not-allowed;
    opacity: $btn-disabled-opacity;
    box-shadow: none;
    > * {
      pointer-events: none;
    }
  }
}

.btn-block {
  width: 100%;
}

.btn-lg {
  @include button-size($btn-height-lg, $btn-padding-lg, $btn-font-size-lg);
}

.btn-sm {
  @include button-size($btn-height-sm, $btn-padding-sm, $btn-font-size-sm);
}

.btn-default {
  @include btn-style($white, $gray-8, $body-color, $white, $primary, $primary);
  &.btn-danger {
    @include btn-style($white, $danger, $danger);
  }

  @include button-disabled-style($gray-2, $gray-4, rgba($black, 0.5));
}

.btn-primary {
  @include btn-style($primary, $primary, $white);
  &.btn-danger {
    @include btn-style($danger, $danger, $white);
  }

  @include button-disabled-style($gray-2, $gray-4, rgba($black, 0.5));
}

.btn-link {
  @include btn-style($white, $white, $primary);
  &.btn-danger {
    @include btn-style($white, $white, $danger);
  }

  @include button-disabled-style($white, $white, rgba($black, 0.5));
}
