.menu {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  margin: 5px 0;
  list-style: none;
  .menu-item {
    cursor: pointer;
    transition: $menu-transition;
    position: relative;
    &:hover, &:focus {
      text-decoration: none;
    }

    &.is-disabled {
      color:$menu-item-disabled-color;
      pointer-events: none;
      cursor: default;
    }

    &.is-active, &:hover {
      color: $menu-item-active-color;
    }
  }
}

.menu-vertical {
  @include menu-style('vertical');
}

.menu-vertical .submenu {
  @include subMenu-style('vertical');
}

.menu-horizontal {
  @include menu-style('horizontal');
}

.menu-horizontal .submenu {
  @include subMenu-style('horizontal');
  .submenu-title {
    &::after {
      content: '>';
      float: right;
    }
  }
}

.menu-horizontal > .submenu {
  > .submenu-title {
    &::after {
      content: '';
    }
  }
}

.arrow-horizontal {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  &::before {
    content: '';
    transform: rotate(-45deg) translateX(2px);
    width: 6px;
    height: 1.5px;
    background: black;
    position: absolute;
    border-radius: 2px;
    transition: transform .3s cubic-bezier(.645,.045,.355,1);
  }

  &::after {
    content: "";
    transform: rotate(45deg) translateX(-2px);
    width: 6px;
    height: 1.5px;
    background: black;
    position: absolute;
    border-radius: 2px;
    transition: transform .3s cubic-bezier(.645,.045,.355,1);
  }

  &.open::before {
    transform: rotate(45deg) translateY(-2px);
  }

  &.open::after {
    transform: rotate(-45deg) translateY(-2px);
  }
}