.menu {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  margin: 5px 0;
  list-style: none;
  .menu-item {
    cursor: pointer;
    transition: $menu-transition;
    &:hover, &:focus {
      text-decoration: none;
    }

    &.is-disabled {
      color:$menu-item-disabled-color;
      pointer-events: none;
      cursor: default;
    }

    &.is-active, &:hover {
      color: $menu-item-active-color;
    }
  }
}

.menu-left {
  @include menu-style('left');
}

.menu-left .submenu {
  @include subMenu-style('left');
}

.menu-top {
  @include menu-style('top');
}

.menu-top .submenu {
  @include subMenu-style('top');
  .submenu-title {
    &::after {
      content: '>';
      float: right;
    }
  }
}

.menu-top > .submenu {
  > .submenu-title {
    &::after {
      content: '';
    }
  }
}

.menu-right {
  @include menu-style('right');
}

.menu-right .submenu {
  @include subMenu-style('right');
}

.menu-bottom {
  @include menu-style('bottom');
}

.menu-bottom .submenu {
  @include subMenu-style('bottom');
  
}