.tabs-top, .tabs-bottom {
  @include tabs-basic-style(0 3rem, none);

  &.tabs-inline {
    @include tabs-inline-style(inline-block, 0.5rem 0, 0 2rem 0 0);
  }
  
  &.tabs-card {
    @include basic-tabs-card-style(inline-block, 0.5rem 0.8rem, 0 0.1rem 0 0);
  }
  
  .prev-button {
    width: 32px;
    padding: 0.5rem 0;
    z-index: 2;
    height: 100%;
    display: inline-block;
    left: 0;
  }

  .next-button {
    width: 32px;
    padding: 0.5rem 0;
    z-index: 2;
    height: 100%;
    display: inline-block;
    right: 0;
  }
}

.tabs-top {
  @include tabs-label-style(none, bottom, bottom);
  @include tabs-card-direction-style(bottom, 2px 2px 0 0, 0.5rem 1.2rem);

  .tabs-slider {
    bottom: -1px;
    left:0;
    height: 2px;
  }
}

.tabs-bottom {
  @include tabs-label-style(none, top, top);
  @include tabs-card-direction-style(top, 0 0 2px 2px, 0.5rem 1.2rem);

  .tabs-slider {
    top: -1px;
    left:0;
    height: 2px;
  }
}

.tabs-left, .tabs-right {
  @include tabs-basic-style(1rem 0, left);

  &.tabs-inline {
    @include tabs-inline-style(block, 0.25rem 1rem, 0 0 1rem);
  }
  
  &.tabs-card {
    @include basic-tabs-card-style(block, 0.25rem 1rem, 0 0 0.1rem);
  }

  .prev-button {
    height: 32px;
    width: 100%;
    padding: 0.5rem 1rem;
    z-index: 2;
    display: block;
    top: -20px;
  }

  .next-button {
    height: 32px;
    width: 100%;
    padding: 0.5rem 1rem;
    z-index: 2;
    display: block;
    bottom: -20px;
  }
}

.tabs-left {
  @include tabs-label-style(left, right, right);
  @include tabs-card-direction-style(right, 2px 2px 0 0, 0.6rem 0.3rem);

  .tabs-slider {
    top: 0;
    right:-1px;
    width: 2px;
  }
}

.tabs-right {
  @include tabs-label-style(right, left, left);
  @include tabs-card-direction-style(left, 2px 2px 0 0, 0.6rem 0.3rem);

  .tabs-slider {
    top:0;
    left:-1px;
    width: 2px;
  }
}

.tabs-label {
  display: inline-block;
  flex-wrap: nowrap;
  white-space: nowrap;
  list-style: none;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  position: relative;
  transition: transform 0.5s ease-in-out;
  .tabs-slider {
    transition: transform 0.3s ease-in-out, width 0.4s ease-out, color 0.6s ease-in-out
  }
  .label-item {
    box-sizing: border-box;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: $primary;
    }
  }
}

.tabs-small {
  .tabs-label {
    font-size: 14px;
  }
}

.tabs-default {
  .tabs-label {
    font-size: 16px;
  }
}

.tabs-large {
  .tabs-label {
    font-size: 18px;
  }
}

.tabs-content {
  display: none;
  &.active {
    display: block;
  }
}

.tabs-close-btn {
  color: $gray-7;
  width: 16px;
  height: 100%;
  float: right;
  font-size: 16px;
  cursor: pointer;
  margin-left: 1rem;
  margin-right: -0.8rem;
  vertical-align: middle;
  overflow: hidden;
  &:hover {
    color: $black;
  }
}


.tabs-scroller {
  position: relative;
  .prev-button {
    position: absolute;
    left: 0;
    top: 0;
  }

  .next-button {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.tabs-scroll-container {
  div {
    display: inline-block;
  }
}
