@mixin tabs-basic-style(
  $container-padding,
  $content-float,
  $flex-direction
) {
  display: flex;
  .tabs-labels-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: $flex-direction;
    align-items: center;
    height: 100%;
  }

  .scroll-container {
    position: relative;
    height: 100%;
    display: block;
    overflow: hidden;
    padding: $container-padding;
    flex:1;
  }

  .tabs-content-container {
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    float: $content-float;
    overflow: auto;
  }

  .show-container {
    overflow: hidden;
    height: 100%;
    position: relative;
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      content: '';
      box-shadow: inset 15px 0 15px -15px #fff,
                  inset -15px 0 15px -15px #fff;
      pointer-events: none;
      z-index: 2;
    }
  }

  .prev-button-container, .next-button-container {
    cursor: pointer;
    &.tabs-btn-diabled {
      cursor: not-allowed;
      .prev-button, .next-button {
        
        &::before {
          background: $gray-5;
          transform: rotate(-45deg);
        }
    
        &::after {
          background: $gray-5;
          transform: rotate(45deg);
        }
      }
    }
  }

  .prev-button, .next-button {
    position: absolute;
    
    &::before, &::after{
      position: absolute;
      content: "";
      display: block;
      width: 7px;
      height: 1.5px;
      background: black;
      transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
    }
  }
}

@mixin tabs-label-style(
  $label-float,
  $label-margin-direction,
  $label-border-direction
) {
  .tabs-labels-container {
    float: $label-float;
    margin-#{$label-margin-direction}: 1rem;
  }

  .tabs-label {
    border-#{$label-border-direction}: 1px solid $gray-3;
  }
}

@mixin tabs-inline-style(
  $label-item-display,
  $label-item-padding,
  $label-item-maring
) {
  .label-item {
    display: $label-item-display;
    padding: $label-item-padding;
    margin: $label-item-maring;
    transition: color 0.3s ease-in, padding 0.3s ease-in-out;
    &.active {
      color: $primary;
    }

    &.disabled {
      color: $gray-5;
      pointer-events: none;
    }
  }

  .tabs-slider {
    display: block;
    position: absolute;
    z-index: 1;
    background: $primary;
    transition: transform 0.3s ease-in-out, width 0.4s ease-out, color 0.6s ease-in-out
  }
}

@mixin basic-tabs-card-style(
  $label-item-display,
  $label-item-padding,
  $label-item-maring
) {
  .label-item {
    display: $label-item-display;
    padding: $label-item-padding;
    margin: $label-item-maring;
    background: $gray-1;
    border: 1px solid $gray-3;
    transition: color 0.3s ease-in, padding 0.3s ease-in-out;
    &.active {
      color: $primary; 
      background: $white;
    }
  }

  .tabs-slider {
    display: block;
    position: absolute;
    z-index: 1;
    background: transparent;
    transition: transform 0.3s ease-in-out, width 0.4s ease-out, color 0.6s ease-in-out
  } 
}

@mixin tabs-card-direction-style(
  $effect-direction,
  $border-radius,
  $padding
) {
  .show-container {
    margin-#{$effect-direction}: -1px;
    .tabs-label {
      border-#{$effect-direction}: 1px solid $gray-3;
      .label-item{
        border-radius: $border-radius;
        margin-#{$effect-direction}: -1px;
        &.active {
          border-#{$effect-direction}: 1px solid $white;
          padding: $padding;
        }
      }
    }
  }
}