@mixin button-size($height, $padding, $font-size) {
  padding: $padding;
  font-size: $font-size;
  height: $height;
}

@mixin btn-style(
  $background, 
  $border,
  $color,
  $hover-background: lighten($background, 7.5%),
  $hover-border:lighten($border, 10%),
  $hover-color: $color
) {
  color: $color;
  background: $background;
  border-color: $border;
  &:hover, &:focus, &.focus {
    background: $hover-background;
    border-color: $hover-border;
    color: $hover-color;
  }
}

@mixin button-disabled-style(
  $background,
  $border,
  $color
) {
  &.disabled, &[disabled] {
    color: $color;
    background: $background;
    border-color: $border;
    text-shadow: none;
  }
}

@mixin menu-style(
  $mode
) {
  @if $mode == 'right' or $mode == 'left' {
    flex-direction: column;
    margin-bottom: 0px;
    @if $mode == 'right' {
      border-left: $menu-border-width solid $menu-border-color;
    } @else if $mode == 'left' {
      border-right: $menu-border-width solid $menu-border-color;
    } 

    > .menu-item {
      padding: $menu-item-padding-vertical;
      @if $mode == 'right' {
        border-left: $menu-item-active-border-width solid transparent;
        &.is-active, &:hover {
          border-left: $menu-item-active-border-width solid $menu-item-active-color;
        }
      } @else if $mode == 'left' {
        border-right: $menu-item-active-border-width solid transparent; 
        &.is-active, &:hover {
          border-right: $menu-item-active-border-width solid $menu-item-active-color;
        }
      }
    }
    
  } @else if $mode == 'top' or $mode == 'bottom' {
    flex-direction: row;
    margin-bottom: 30px;
    
    @if $mode == 'top' {
      border-bottom: $menu-border-width solid $menu-border-color;
    } @else if $mode == 'bottom' {
      border-top: $menu-border-width solid $menu-border-color;
    }

    > .menu-item {
      padding: .5rem 1rem;
      @if $mode == 'top' {
        border-bottom: $menu-item-active-border-width solid transparent;
        &.is-active, &:hover {
          border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
        }
      } @else if $mode == 'bottom' {
        border-top: $menu-item-active-border-width solid transparent;
        &.is-active, &:hover {
          border-top: $menu-item-active-border-width solid $menu-item-active-color;
        }
      }
    }
  }
}


@mixin subMenu-style(
  $mode
) {
  border-left: $menu-item-active-border-width solid transparent; 
  cursor: pointer;
  transition: $menu-transition;
  position: relative;
  @if $mode == 'top' or $mode == 'bottom' {
    padding: $menu-item-padding-horizontal;
  } @else if $mode == 'right' or $mode == 'left' {
    padding: $menu-item-padding-vertical;
  }

  &.child-selected {
    > .submenu-title {
      color: $menu-item-active-color;
    }
  }
  > &.child-seleted {
    @if $mode == 'top' or $mode == 'bottom' {
      border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
    }
  }

  > .submenu-item {
    list-style: none;
    padding: 0;
    white-space: nowrap;
    background: white;
    @if $mode == 'top' or $mode == 'bottom' {
      min-width: 160px;
      position: absolute;
      box-shadow: $submenu-box-shadow;
      left: 0;
      z-index: 1;
      @if $mode == 'top' {
        top: 50px;
      } @else if $mode == 'bottom' {
        bottom: 50px;
      }
    }

    .submenu-item {
      position: absolute;
      top: 0;
      left: 165px;
    }
  }

  .menu-item {
    list-style: none;
    padding: $menu-item-padding-vertical;
    &.is-active, &:hover {
      color: $menu-item-active-color;
    }

    &.is-active {
      background: lighten($primary, 40%);
      @if $mode == 'right' {
        border-left: $menu-item-active-border-width solid $menu-item-active-color;
      } @else if $mode == 'left' {
        border-right: $menu-item-active-border-width solid $menu-item-active-color;
      }
    }
  }
}
