
@mixin btn-style(
  $background, 
  $border,
  $color,
  $hover-background: lighten($background, 7.5%),
  $hover-border:lighten($border, 10%),
  $hover-color: $color
) {
  color: $color;
  background: $background;
  border-color: $border;
  &:hover, &:focus, &.focus {
    background: $hover-background;
    border-color: $hover-border;
    color: $hover-color;
  }
}

@mixin button-disabled-style(
  $background,
  $border,
  $color
) {
  &.disabled, &[disabled] {
    color: $color;
    background: $background;
    border-color: $border;
    text-shadow: none;
  }
}

@mixin basic-subMenu-style($mode) {
  border-left: $menu-item-active-border-width solid transparent; 
  cursor: pointer;
  transition: $menu-transition;
  position: relative;
  @if $mode == horizontal {
    padding: $menu-item-padding-horizontal;
  } @else if $mode == vertical {
    padding: $menu-item-padding-vertical;
  }

  .submenu-title:hover {
    color: $primary;
  }

  &.child-selected {
    > .submenu-title {
      color: $menu-item-active-color;
      .arrow-up-down {
        &::after, &::before {
          background: $primary;
        }
      }
    }
  }

  @if $mode == horizontal {
    &.child-selected {
      border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
    }
  }

  .menu-item {
    list-style: none;
    padding: $menu-item-padding-vertical;
  }
}

@mixin subMenu-popup-style($mode) {
  > .subItem-container {
    list-style: none;
    padding: 0;
    white-space: nowrap;
    background: white;
    &.outline {
      position: absolute;
      min-width: 160px;
      box-shadow: $submenu-box-shadow;
      z-index: 1;
      @include menu-selected(menu-item, vertical);
    }

    &.inline {
      @if $mode == vertical {
        @include menu-selected(menu-item, vertical);
      }
      @if $mode == horizontal {
        display: flex;
        position: absolute;
        box-shadow: $submenu-box-shadow;
        .menu-item {
          flex-direction: row;
          padding: $menu-item-padding-horizontal;
        }
        @include menu-selected(menu-item, horizontal);
      }
    }
  }
}

